@{
    ViewData["Title"] = "FakeSchool - Página principal";
    Layout = "_LayoutAuthenticated";
}

<div>
    <h1 class="text-secondary text-center">Bem vindo! Esse é um sistema de gerenciamento de escola.</h1>
</div>