@model FakeSchool.Web.Areas.Aluno.Models.GerirAlunoViewModel
@{
    ViewData["Title"] = "Aprovar aluno";
}

<div class="card">
    <div class="card-body">
        <h3 class="text-secondary">Deseja aprovar @Model.Nome?</h3>
        <p class="text-secondary"><i>Curso: @Model.Curso</i></p>
        <form asp-controller="Aluno" asp-action="Aprovar" method="post">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="Nome"/>
            <input type="hidden" asp-for="CursoId"/>
            <input type="hidden" asp-for="AnoLetivo"/>
            <input type="hidden" asp-for="Status"/>
            <a asp-controller="Aluno" asp-action="Gerir" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary">Cancelar</a>
            <button class="btn btn-sm btn-primary" type="submit">Aprovar</button>
        </form>
    </div>
</div>